/* Style for find name game type */

/* General page */

html, body, #container, img, a, button {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: row;
}

#container > div {
  width: 50%;
}

/* image pannel */

#image-pannel {
  background-color: black;
}

img {
  object-fit: contain;
}

/* action pannel */

#action-pannel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px solid grey;
  background-color: transparent;
  font-size: large;
}

#data-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

#data-line > div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#data-line {
  font-size: large;
}

@media only screen and (max-width: 500px) {
  #container {
    flex-direction: column;
  }

  #container > div {
    width: 100%;
  }

  #action-pannel > div {
    height: 50px;
  }
}
